*.apk
*.ap_

*.dex

*.class

bin/
gen/
out/

.gradle/
gradlew*
gradle
build/

local.properties

proguard/

*.log

.navigation/

captures/

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries

*.jks

.externalNativeBuild

google-services.json

freeline.py
freeline/
freeline_project_description.json

gen-external-apklibs

.gradle

.signing/

/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.ipr
*~
*.swp

obj/

*.iws
/out/

.idea/libraries/
.idea/.name
.idea/runConfigurations.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.classpath
.project

.mtj.tmp/

*.jar
*.war
*.ear

hs_err_pid*

.idea_modules/

atlassian-ide-plugin.xml

.idea/mongoSettings.xml

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

!/gradle/wrapper/gradle-wrapper.jar

.idea/**/workspace.xml
.idea/**/tasks.xml

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

.idea/**/gradle.xml
.idea/**/libraries

cmake-build-debug/

.idea/**/mongoSettings.xml

.idea/replstate.xml

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

.idea/sonarlint